<div [@fallIn]>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>My Feed</span>
      <span fxFlex></span>
      <!--<button mat-raised-button color="warn" class=""><em> Date </em> <i class="material-icons">unfold_more</i></button>-->
      <button mat-button><em>Latest</em><i class="material-icons">keyboard_arrow_down</i></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="row">
    <mat-list style="width: 100%">
      <mat-list-item *ngFor="let message of messages; last as last">
        <img mat-list-avatar [src]="message.image" alt="Image of {{message.from}}">
        <h4 mat-line>{{message.from}}</h4>
        <p mat-line> {{message.subject}} </p>
        <p mat-line class="demo-secondary-text">{{message.message}} </p>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

</div>
