/* $scaffolding
 ------------------------------------------*/
html {
  font-size: 16px;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;

  min-height: 100%;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &[dir=rtl], &[dir=ltr] {
    unicode-bidi: embed
  }
}

bdo[dir=rtl] {
  direction: rtl;
  unicode-bidi: bidi-override;
}
bdo[dir=ltr] {
  direction: ltr;
  unicode-bidi: bidi-override;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(mat-color($foreground, base), 0.87);
  line-height: 1.5;
  background: #000000;
}

[tabindex='-1']:focus {
  outline: none;
}

select,
button,
textarea,
input {
  vertical-align: baseline;
}

.mat-progress-bar.page-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}