<!--<mat-card class="demo-card demo-basic">-->
  <!--<mat-card-content>-->
    <!--<form>-->
      <!--<mat-form-field class="demo-full-width">-->
        <!--<input matInput placeholder="Company (disabled)" disabled value="Google">-->
      <!--</mat-form-field>-->

      <!--<table style="width: 100%" cellspacing="10">-->
        <!--<tr>-->
          <!--<td>-->
            <!--<mat-form-field style="width: 90%">-->
              <!--<input matInput placeholder="First name">-->
            <!--</mat-form-field>-->
          <!--</td>-->
          <!--<td>-->
            <!--<mat-form-field style="width: 90%">-->
              <!--<input matInput placeholder="Long Last Name That Will Be Truncated">-->
            <!--</mat-form-field>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
      <!--<p>-->
        <!--<mat-form-field class="demo-full-width">-->
          <!--<textarea matInput placeholder="Address">1600 Amphitheatre Pkway</textarea>-->
        <!--</mat-form-field>-->
        <!--<mat-form-field class="demo-full-width">-->
          <!--<textarea matInput placeholder="Address 2"></textarea>-->
        <!--</mat-form-field>-->
      <!--</p>-->
      <!--<table style="width: 100%" cellspacing="0"><tr>-->
        <!--<td>-->
          <!--<mat-form-field class="demo-full-width">-->
            <!--<input matInput placeholder="City" value="Mountain View">-->
          <!--</mat-form-field>-->
        <!--</td>-->
        <!--<td>-->
          <!--<mat-form-field class="demo-full-width">-->
            <!--<input matInput placeholder="State" maxLength="2" value="CA">-->
          <!--</mat-form-field>-->
        <!--</td>-->
        <!--<td>-->
          <!--<mat-form-field class="demo-full-width">-->
            <!--<input matInput #postalCode maxLength="5" placeholder="Postal Code" value="94043"-->
                   <!--pattern="[0-9]{5}">-->
            <!--<mat-hint align="end">-->
              <!--<mat-icon>mode_edit</mat-icon>-->
              <!--<span aria-live="polite">{{postalCode.value.length}} / 5</span>-->
            <!--</mat-hint>-->
          <!--</mat-form-field>-->
        <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</form>-->
  <!--</mat-card-content>-->

<!--<mat-card>-->
  <!--<mat-toolbar class="text-base">matAccordion</mat-toolbar>-->
  <!--<mat-card-content>-->
    <!--<div>-->
      <!--<p>Accordion Options</p>-->
      <!--<div>-->
        <!--<mat-slide-toggle [(ngModel)]="multi">Allow Multi Expansion</mat-slide-toggle>-->
        <!--<mat-slide-toggle [(ngModel)]="hideToggle">Hide Indicators</mat-slide-toggle>-->
        <!--<mat-slide-toggle [(ngModel)]="disabled">Disable Panel 2</mat-slide-toggle>-->
        <!--<mat-slide-toggle [(ngModel)]="showPanel3">Show Panel 3</mat-slide-toggle>-->
      <!--</div>-->
      <!--<p>Accordion Style</p>-->
      <!--<mat-radio-group [(ngModel)]="displayMode">-->
        <!--<mat-radio-button value="default">Default</mat-radio-button>-->
        <!--<mat-radio-button value="flat">Flat</mat-radio-button>-->
      <!--</mat-radio-group>-->
      <!--<p>Accordion Panel(s)</p>-->
      <!--<div>-->
        <!--<mat-checkbox [(ngModel)]="panel1.expanded">Panel 1</mat-checkbox>-->
        <!--<mat-checkbox [(ngModel)]="panel2.expanded">Panel 2</mat-checkbox>-->
      <!--</div>-->
    <!--</div>-->
    <!--<br>-->

  <!--</mat-card-content>-->
<!--</mat-card>-->


<mat-accordion [multi]="multi" class="mat-expansion-demo-width">
  <mat-expansion-panel #panel1  [hideToggle]="hideToggle">
    <mat-expansion-panel-header>Section 1</mat-expansion-panel-header>

    <p>This is the content text that makes sense here.</p>
  </mat-expansion-panel>

  <mat-expansion-panel #panel2 [hideToggle]="hideToggle" [disabled]="disabled">
    <mat-expansion-panel-header>Section 2</mat-expansion-panel-header>
    <ngx-datatable
      class='material'
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [rows]='rows'>
    </ngx-datatable>

  </mat-expansion-panel>

  <mat-expansion-panel #panel3 *ngIf="showPanel3" [hideToggle]="hideToggle">
    <mat-expansion-panel-header>Section 3</mat-expansion-panel-header>
    <mat-checkbox #showButtons>Reveal Buttons Below</mat-checkbox>
    <mat-action-row *ngIf="showButtons.checked">
      <button mat-button (click)="panel2.expanded = true">OPEN SECTION 2</button>
      <button mat-button (click)="panel3.expanded = false">CLOSE</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>


