<div class="taskboard page-height" [perfectScrollbar]="taskboardConfig" [disabled]="isOver()">
  <div class="taskboard-wrapper" *ngFor="let board of taskboard">
    <div class="taskboard-list">
      <div class="taskboard-header text-uppercase">
        <strong>{{board.title}}</strong>
      </div>
      <div class="taskboard-cards" [dragula]='"task-group"' [perfectScrollbar]="taskboardItemConfig" [disabled]="isOver()">
        <div class="taskboard-task" *ngFor="let task of board.tasks" [ngClass]="task.class">
          <div class="taskboard-task-title">{{task.title}}</div>
          <small class="card-text text-muted">{{task.description}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
