:host ::ng-deep {
    dynamic-material-form-control {
        display: block;
        margin-bottom: 1rem;
    }

    dynamic-material-form-control div[role="group"] > dynamic-material-form-control {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    dynamic-material-form-control div[role="group"] + mat-error {
        font-size: 75%;
    }

    dynamic-material-form-control .mat-list-item {
        justify-content: center;
    }
}