<p class="ma-1">Move stuff between these two containers. Note how the stuff gets inserted near the mouse pointer? Great stuff.</p>

<div  fxLayout="row" fxLayoutWrap="wrap">
  <mat-card fxFlex>
    <mat-list [dragula]='"first-bag"'>
      <ng-template ngFor let-todo [ngForOf]="todos">
        <mat-list-item>
          <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
            <div fxFlex>
              <mat-checkbox [checked]="todo.finished">{{todo.name}}</mat-checkbox>
            </div>
            <div><mat-icon>more_horiz</mat-icon></div>
          </div>
        </mat-list-item>
      </ng-template>
    </mat-list>
  </mat-card>
  <mat-card fxFlex>
    <mat-nav-list [dragula]='"first-bag"'>
      <mat-list-item *ngFor="let link of links">
        <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
          <div fxFlex>
            <a mdLine href="http://www.google.com" fxFlex>{{ link.name }}</a>
          </div>
          <div>
            <mat-icon>info</mat-icon>
          </div>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>