<div [@fallIn]>
  <mat-card>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="3">
        <ui-carousel [infinite]="true" [fade]="false" [speed]="200" height="300px" width="100%">
          <ui-carousel-item>
            <div style="background-image:url('../../assets/images/hero_sas.png')" class="text">1</div>
          </ui-carousel-item>
          <ui-carousel-item>
            <div style="background-image: url('../../assets/images/sas-experience.jpg')" class="text">2</div>
          </ui-carousel-item>
          <ui-carousel-item>
            <div style="background:#3498db" class="text">3</div>
          </ui-carousel-item>
          <ui-carousel-item>
            <div style="background:#f1c40f" class="text">4</div>
          </ui-carousel-item>
          <ui-carousel-item>
            <div style="background:#16a085" class="text">5</div>
          </ui-carousel-item>
          <!--<div class="button">-->
            <!--Code source-->
          <!--</div>-->
        </ui-carousel>
        <mat-grid-tile-footer>
          <h3 color="white">All Post </h3>&nbsp;
          <h3 color="white"> Members </h3>
          <span fxFlex></span>
          <h3>More </h3>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

</div>
