:host {
  position: absolute;
  z-index: 8;
  top: 140px;
  right: -0;
  width: 40px;
  height: 40px;
  > a {
    height: 40px;
    line-height: 4.2;
    padding: 0 5px;
    display: block;
    position: relative;
    cursor: pointer;
    text-align: center;
    background: #fff;
    color: rgba(0,0,0,.7);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.05);
    > span {
      font-family: "Inconsolata";
      position: absolute;
      top: 0;
      right: 100%;
      line-height: 40px;
      padding: 0 12px;
      font-size: 12px;
      background: #333;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      white-space: nowrap;
    }
    &:hover {
      background: #333;
      color: #fff;
      span {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
