@import "../../../assets/styles/scss/variables";

:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: flex;
  flex: 1;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.04);
  border-right: 1px solid rgba(0, 0, 0, 0.04);
}

.sebm-google-map-container {
  width: 100%;
  height: 86vh;
  display: flex;
}

.mat-card {
  width: 100%;
  margin: 0;
}

$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

